
<!-- <div class="jumbotron jumbotron-fluid">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
    <div class="container ">
      <h1 class="display-4">CRUD DE USUARIOS</h1>
      <p class="lead">Bienvenidos</p>
    </div>
</div>
  </div> -->

 
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" RouterLinkActive ="active">
                    <a class="nav-link "  [routerLink]= "['home']">Inicio</a>
                </li>
                <li class="nav-item" RouterLinkActive ="active">
                    <a class="nav-link"  [routerLink]= "['adminusuarios']">Administrador de Usuarios</a>
                </li>
              
                
            </ul>
           
        </div>
    </div>
  </nav>